.movie {
  width: 200px;
  min-height: 200px;
  border: 1px solid #000000;
  padding: 10px;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.title {
  font-size: 16px;
  font-weight: 300;
}

.poster {
  height: 150px;
}

.grid {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: auto auto auto auto;
  margin-top: 50px;
}

.search {
}

.search input {
  color: #3a3a3a;
  font-size: 30px;
}

.search button {
  color: #2fb6f9;
  cursor: pointer;
  background: none;
  border: 2px solid #2fb6f9;
  font-size: 30px
}